<mat-drawer-container hasBackdrop="false">
  <mat-drawer #drawer mode="over">
    <ngx-sidenav-panel [drawer]="drawer" [isAdminUser]="true" [linksMenu]="sidenavItems">
      <picture ngx-sidenav-logo>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png"
          alt="Logo de la NASA">
      </picture>
    </ngx-sidenav-panel>
  </mat-drawer>


  <mat-drawer-content>
    <header>
      <button mat-icon-button color="primary" aria-label="Sidenav toggle" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </header>

    <div class="protected" (click)="drawer.close()">
      <main>
        <h1>Content</h1>
      </main>
    </div>
  </mat-drawer-content>
</mat-drawer-container>